@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Kode+Mono:wght@400..700&family=Maven+Pro&family=Poiret+One&family=Poppins:wght@100;400&family=Sacramento&family=Titillium+Web&family=Zeyada&display=swap');


@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #111111;
}



#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav i{
    height: 27px;
    font-size: 2vw;
    text-decoration: none;
    opacity: 1;
    position: absolute;
    z-index: 99;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}




 .social-media-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(./imgs/about-section2.avif);
    background-position: center;
    background-size: cover;
  }


.shareArticle {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.shareSocial {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    flex-flow: column;
  }
  .socialTitle {
    margin: 0 15px 0 0;
    font-size: 20px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-flow: row wrap;
    li {
      margin: 5px;
      &:first-child {
        padding-left: 0;
      }
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        text-decoration: none;
        background-color: #999;
        color: #fff;
        transition: .35s;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: top left;
          transform: scale(1) translate(-50%, -50%);
          transition: .35s;
        }
        &:hover {
          i {
            transform: scale(1.5) translate(-50%, -50%);
          }
        }
      }
      &:nth-child(1) a {
        background-color: #135cb6;
      }
      &:nth-child(2) a {
        background-color: #00aced;
      }
      &:nth-child(3) a {
        background-color: #BD081C;
      }
      &:nth-child(4) a {
        background-color: rgb(255, 166, 0);
      }
      &:nth-child(5) a {
        background-color: #1FB381;
      }
    }
  }
}
